@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap&subset=latin-ext');

html, body {
	margin: 0;
	padding: 0;
	background-color: #1E1E1E;
	color: #F7630C;
	font-family: "Montserrat";
}

body {
	margin-top: 53px;
	position: relative;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	color: #803B13;
}

.about {
	position: relative;
		top: 8vw;
	text-align: center;
}

.lang {
	position: relative;
		left: -13vw;
}

header {
	position: fixed;
		top: 0;
	width: 100%;
	height: 30px;
	padding: 10px;
	background-color: #252525;
	box-shadow: 0 3px 7px 3px #101010;
}

header a {
	font-size: 20px;
	font-weight: bold;
	display: flex;
	align-items: center;
	height: inherit;
}

header div {
	height: inherit;
	display: inline-block;
	padding-right: 20px;
}